<div ng-include src="'partials/main_menu.html'"></div>
<div class="container">
    <h1>Realizar pedido</h1>
    <label for="nameStore" class="form-label">Tienda</label>
    <select name="nameStore" ng-model="selectStore" class="form-control" ng-change="showBranches()">
        <option value="-1">Seleccione una tienda</option>
        <option ng-repeat="store in stores" value={{store._id}} ng-model="selectStore">
            {{store.nameStore}}
        </option>
    </select>

    <br/>
    <label for="nameBranch" class="form-label">Sucursal</label>
   
    <select class="form-control" ng-options="branch.nameBranch for branch in branches" ng-change="showProducts()" ng-model="selectBranch">
        
    </select>
    

    <br/>

    <label ng-show = "hasProducts" class="form-label">Productos:</label>
    <ul>
        <li ng-repeat="product in products">{{product.nameProduct}}  <button class="btn btn-primary" ng-click="agregarCarrito(product)">Agregar al carrito</button></li>
    </ul>
</div>

<style>
    #form {
      width: 300px;
      margin: 0 auto;
      height: 70px;
    }
    
    #form p {
      text-align: center;
    }
    
    #form label {
      font-size: 50px;
    }
    
    input[type="radio"] {
      display: none;
    }
    
    label {
      color: grey;
    }
    
    .clasificacion {
      direction: rtl;
      unicode-bidi: bidi-override;
    }
    
    label:hover,
    label:hover ~ label {
      color: orange;
    }
    
    input[type="radio"]:checked ~ label {
      color: orange;
    }
    </style>
    
    <footer> 
        <p>Califique nuestro sitio</p>
        <div><input id="radio1" type="radio"  name="estrellas" value="1"><!--
        --><label for="radio1">★</label><!--
        --><input id="radio2" type="radio" name="estrellas" value="2"><!--
        --><label for="radio2">★</label><!--
        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
        --><label for="radio3">★</label><!--
        --><input id="radio4" type="radio" name="estrellas" value="4"><!--
        --><label for="radio4">★</label><!--
        --><input id="radio5" type="radio" name="estrellas" value="5"><!--
        --><label for="radio5">★</label></div>
      
      
    
    </footer>
    